<!--@subject {{trans "Promemoria: Firma il tuo contratto (ordine %increment_id)" increment_id=$order_increment_id}} @-->
<!--@vars {
"var customer_name":"Nome cliente",
"var order_increment_id":"Numero ordine",
"var order_url":"Link all'ordine",
"var signer_email":"Email firmatario"
} @-->
{{template config_path="design/email/header_template"}}

<p>{{trans "Ciao %name," name=$customer_name}}</p>

<p>{{trans "ti ricordiamo che il contratto relativo al tuo ordine #%increment_id è ancora in attesa di firma digitale." increment_id=$order_increment_id}}</p>

<p>{{trans "Per completare l'ordine, ti invitiamo a seguire le istruzioni ricevute all'indirizzo %email dal provider di firma." email=$signer_email}}</p>

<p>{{trans 'Puoi consultare lo stato del tuo ordine qui: <a href="%url">I miei ordini</a>' url=$order_url |raw}}</p>

{{template config_path="design/email/footer_template"}}
