<!--@subject {{trans "Update on your contract to sign (order %increment_id)" increment_id=$order_increment_id}} @-->
<!--@vars {
"var customer_name":"Customer name",
"var order_increment_id":"Order number",
"var status_label":"Document status",
"var order_url":"Order link"
} @-->
{{template config_path="design/email/header_template"}}

<p>{{trans "Hello %name," name=$customer_name}}</p>

<p>{{trans "the signing process for the contract related to your order #%increment_id has ended with outcome: %status." increment_id=$order_increment_id status=$status_label}}</p>

<p>{{trans 'If you believe this is an error, please contact our customer service. You can check your order here: <a href="%url">My orders</a>' url=$order_url |raw}}</p>

{{template config_path="design/email/footer_template"}}
