<!--@subject {{trans "Your contract for digital signature is ready (order %increment_id)" increment_id=$order_increment_id}} @-->
<!--@vars {
"var customer_name":"Customer name",
"var order_increment_id":"Order number",
"var order_url":"Order link",
"var signer_email":"Signer email"
} @-->
{{template config_path="design/email/header_template"}}

<p>{{trans "Hello %name," name=$customer_name}}</p>

<p>{{trans "the contract for your order #%increment_id is ready to be digitally signed." increment_id=$order_increment_id}}</p>

<p>{{trans "You will shortly receive (or have already received) instructions from the signing service at %email. Follow that process to complete the signature." email=$signer_email}}</p>

<p>{{trans 'You can check the status of your order here: <a href="%url">My orders</a>' url=$order_url |raw}}</p>

{{template config_path="design/email/footer_template"}}
