<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MageOS_DigitalSignature::digitalsignature" title="Digital Signature" sortOrder="80">
                    <resource id="MageOS_DigitalSignature::template" title="Document templates" sortOrder="10"/>
                    <resource id="MageOS_DigitalSignature::document" title="Signature documents" sortOrder="20"/>
                    <resource id="MageOS_DigitalSignature::document_action" title="Document actions (API)" sortOrder="21"/>
                    <resource id="MageOS_DigitalSignature::document_export" title="Export signature documents (CSV/XML/XLSX)" sortOrder="22"/>
                    <resource id="MageOS_DigitalSignature::api_consumer" title="API Integrations" sortOrder="25"/>
                    <resource id="MageOS_DigitalSignature::webhook_subscription" title="Webhook Subscriptions" sortOrder="26"/>
                    <resource id="MageOS_DigitalSignature::config" title="Configuration" sortOrder="30"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
