<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <digital_signature>
            <general>
                <enabled>0</enabled>
                <production_ack>0</production_ack>
                <default_trigger>order_placed</default_trigger>
                <provider></provider>
                <max_retries>3</max_retries>
                <reconcile_batch_limit>50</reconcile_batch_limit>
                <pdfjs_source>local</pdfjs_source>
                <pdfjs_cdn_url>https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/</pdfjs_cdn_url>
                <builder_tag_color>1 g</builder_tag_color>
            </general>
            <notifications>
                <identity>general</identity>
                <admin_recipient></admin_recipient>
                <customer_ready_enabled>0</customer_ready_enabled>
                <customer_ready_template>digital_signature_notifications_customer_ready_template</customer_ready_template>
                <customer_signed_enabled>1</customer_signed_enabled>
                <customer_signed_template>digital_signature_notifications_customer_signed_template</customer_signed_template>
                <customer_outcome_enabled>0</customer_outcome_enabled>
                <customer_outcome_template>digital_signature_notifications_customer_outcome_template</customer_outcome_template>
                <admin_error_enabled>1</admin_error_enabled>
                <admin_error_template>digital_signature_notifications_admin_error_template</admin_error_template>
                <admin_outcome_enabled>1</admin_outcome_enabled>
                <admin_outcome_template>digital_signature_notifications_admin_outcome_template</admin_outcome_template>
            </notifications>
            <reminders>
                <customer_enabled>0</customer_enabled>
                <customer_template>digital_signature_reminders_customer_template</customer_template>
                <customer_threshold_days>3</customer_threshold_days>
                <customer_interval_days>3</customer_interval_days>
                <customer_max_reminders>2</customer_max_reminders>
                <admin_enabled>1</admin_enabled>
                <admin_template>digital_signature_reminders_admin_template</admin_template>
                <admin_threshold_days>7</admin_threshold_days>
                <batch_limit>50</batch_limit>
            </reminders>
            <webhooks>
                <enabled>0</enabled>
                <max_attempts>5</max_attempts>
                <batch_limit>50</batch_limit>
                <failure_notification_enabled>1</failure_notification_enabled>
                <failure_notification_template>digital_signature_webhooks_failure_notification_template</failure_notification_template>
            </webhooks>
            <providers>
                <wssign>
                    <enabled>0</enabled>
                    <signature_type>OTP_SMS</signature_type>
                    <expiration_days>7</expiration_days>
                    <default_phone_prefix>+39</default_phone_prefix>
                </wssign>
                <docusign>
                    <enabled>0</enabled>
                    <environment>demo</environment>
                    <expiration_days>7</expiration_days>
                </docusign>
                <adobesign>
                    <enabled>0</enabled>
                    <expiration_days>7</expiration_days>
                </adobesign>
                <dummy>
                    <allow>0</allow>
                    <auto_sign_delay>60</auto_sign_delay>
                </dummy>
            </providers>
            <retention>
                <enabled>0</enabled>
                <retention_days>3650</retention_days>
                <batch_limit>200</batch_limit>
            </retention>
        </digital_signature>
    </default>
</config>
