<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Csp\Model\Collector\DynamicCollector">
        <arguments>
            <argument name="policyCollectors" xsi:type="array">
                <item name="digitalsignature_pdfjs" xsi:type="object">MageOS\DigitalSignature\Model\Csp\PdfJsPolicyCollector</item>
            </argument>
        </arguments>
    </type>
</config>
